<form
  id="migration-form"
  class="form-horizontal form-label-left"
  method="post"
  autocomplete="off"
>
  {{ form.hidden_tag() }}
  <div class="modal-body">
    <div>
      {{ form.export_format.label() }}
      <br />
      {{ form.export_format(class="form-control") }}
    </div>
    <br />
    <div>
      <label>
        Directory pathname to use in {{ form.migration_folder }} :<br />
      </label>
      <div class="form-group">
        <input class="form-control required" list="versions" id="name" name="name" />
        <datalist id="versions"></datalist>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-e col-sm-9 col-xs-12 col-md-offset-5">
        <button
          type="button"
          class="btn btn-success"
          onclick="eNMS.administration.migrationsImport('json')"
        >
          Import
        </button>
        <button
          type="button"
          class="btn btn-success"
          onclick="eNMS.administration.migrationsExport('json')"
        >
          Export
        </button>
      </div>
    </div>
  </div>
</form>
