#builder {
  height: calc(100vh - 80px);
  width: 100%;
}

/* Prevent Chrome from highlight the builder div with an outline */
*:focus {
  outline: none;
}

/* Color and size of optgroup in the drop-down list of top-level network / worklows */
li.dropdown-header {
  color: #050404;
  font-weight: 550;
}

.custom-fieldset {
  border: 1px solid #ccc;
  padding: 10px;
}

.custom-legend {
  font-size: 1.2em;
  border-bottom: none;
  width: auto;
  margin: 0;
  padding: 0 5px;
}

#workflow-tree,
#network-tree {
  border-left: solid;
  height: 100%;
}
